/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap');
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css); 
/* font-family: 'Noto Sans KR', sans-serif;
font-family: 'Open Sans', sans-serif;
.nanummyeongjo * { font-family: 'Nanum Myeongjo', serif; } */
html,body{font-family: 'Open Sans', sans-serif;}


/* common */
#wrapper{background-color :rgb(39, 37, 38); }
/* line-wrap */
.line-wrap{position: absolute;}
.line-wrap > .line:nth-child(1){left: 34vw; position: absolute; border-left: 1px solid rgba(222, 216, 210,.4); height: 100vh; display: none;}
.line-wrap > .line:nth-child(2){left: 68.5vw; position: absolute;  border-left: 1px solid rgba(222, 216, 210,.4); height: 100vh; display: none;}
.line-wrap > .line:nth-child(3){left: 95vw; position: absolute;  border-left: 1px solid rgba(222, 216, 210,.4); height: 100vh; display: none;} 


/* header */
#main-wrap{display: flex; }
#main-wrap > .header {position: fixed; height: 100vh; width: 14.75rem; z-index:11; }
#main-wrap > .header > .navi-wrap{display: flex; width: 60%; margin-left: 40%; transition: all 0.8s; z-index: 9999;}
#main-wrap > .header > .navi-wrap > .navi{font-weight: 700; font-size: 1.5rem;  text-align: center; display: flex; flex-direction: column; justify-content: flex-end; 
	height: 100vh; z-index: 100; background-color: rgba(5, 5, 5,.3); cursor:pointer}
#main-wrap > .header > .navi-wrap > .navi:nth-child(1){border-right: 1px solid rgba(222, 216, 210,.4); border-left: 1px solid rgba(222, 216, 210,.4);}
#main-wrap > .header > .navi-wrap > .navi:nth-child(2){border-right: 1px solid rgba(222, 216, 210,.4);}
#main-wrap > .header > .navi-wrap > .navi:nth-child(3){border-right: 1px solid rgba(222, 216, 210,.4);}	

#main-wrap > .header > .navi-wrap > .navi > a{color: #f8f8f8; text-decoration: none; writing-mode: vertical-rl; transform: rotate(180deg); display: inline-block; cursor: pointer; margin: 0 auto;}
#main-wrap > .header > .navi-wrap > .navi > .active-box{width: 3.125rem; height: 3.125rem; background-color: #f8f8f8; z-index: 99; margin-bottom: 5.125rem; margin-top: 1rem;}
#main-wrap > .header > .navi-wrap > .navi > .move-box{width: 3.125rem; height: 3.125rem; background-color: #f8f8f8; position: absolute; top: 0; transition: all 0.5s; z-index: -99;}

/* typing-text */
#main-wrap > .typing-txt{display: none;}
#main-wrap > .typing{position:relative; height: 100vh; width: 100%;}
#main-wrap > .typing > ul{font-weight:700; font-size:8.75rem;}
#main-wrap > .typing > ul > li{display: block;  position: relative; }
#main-wrap > .typing > ul > li:nth-child(1){position:absolute; top: 12vw; right: 6.25rem; color:#ec1a5b;}
#main-wrap > .typing > ul > li:nth-child(2){position:absolute; top: 19vw; right: 6.25rem; color:#ec1a5b; letter-spacing: 0.25rem;}
#main-wrap > .typing > ul > li:nth-child(3){position:absolute; top: 26vw; right: 6.25rem; color:#f8f8f8; }
#main-wrap > .typing > ul > li:nth-child(4){position:absolute; top: 33vw; right: 6.25rem; color:#c1bab2; letter-spacing: 0.25rem;}
#main-wrap > .bg-img{opacity: 0.3; position: absolute; width:60%; right:4.75rem; top:6rem;}


.actbar-wrap {position: relative;}
.actbar-wrap > div{position: absolute; height: 10px; top:10.5rem; left: 32.5rem; animation-duration: 1s; animation-fill-mode:forwards;  animation-name: moving-line;}
.actbar-wrap > .actbar1 {background-color: #f87f5a; animation-delay: 7s; }
.actbar-wrap > .actbar2 {background-color: #aeff53; animation-delay: 7.6s; }
.actbar-wrap > .actbar3 {background-color: #5af8f0; animation-delay: 7.3s;} 


	/* about-wrap */
#about-wrap{width:92%; height:100vh; display:flex; font-family: 'Noto Sans KR', sans-serif; margin-left: auto; z-index: 999;}
#about-wrap  .title{font-family: 'Nanum Myeongjo', serif; font-size: 2.125rem; color:#aeff53; font-weight: 700;}
#about-wrap > .first-layout	{flex: 28.5% 0 0; display: flex; justify-content: center; padding-top: 5rem;}
#about-wrap > .first-layout > .img-size{width:300px; height:300px; }


#about-wrap > .second-layout {flex: 38% 0 0; z-index:999;}
#about-wrap > .second-layout > .desc{color: #a49e97; font-size: 1.5rem; padding-top: 5rem; margin-left: 54px;}
#about-wrap > .second-layout > .desc > li > span{font-size: 2.125rem; color:#5af8f0; font-family: 'Nanum Myeongjo', serif;} 
#about-wrap > .second-layout > .contact{font-size: 1.5rem; color: #f8f8f8; padding-top:6.5rem; line-height: 2.625rem; margin-left: 54px;}
#about-wrap > .second-layout > .contact  a{text-decoration: none; color:#f8f8f8;}
#about-wrap > .second-layout > .contact i{padding: 0 1rem;}


#about-wrap > .last-layout {flex: 29% 0 0; z-index: 999;}
#about-wrap > .last-layout > .edu-wrap{color: #f8f8f8; font-size: 1.5rem; font-weight: 300;  padding-top: 5rem; margin-left: 54px;}
#about-wrap > .last-layout > .edu-wrap > li:not(:first-child){padding: 0 1rem; line-height: 3rem;}
#about-wrap > .last-layout > .lc-wrap{color: #f8f8f8; font-size: 1.5rem; margin-left: 54px; padding-top: 48px;}
#about-wrap > .last-layout > .lc-wrap > li:not(:first-child){padding: 0 1rem; line-height: 4rem; }

#about-wrap > .last-layout > .skill-wrap{color: #f8f8f8; font-size: 1.5rem; margin-left: 3.375rem; padding-top: 4rem; position: relative; }
#about-wrap > .last-layout > .skill-wrap > .skill-desc > .skill-name{padding: 0 1rem; line-height: 3rem;  flex:10% 0 0;}

#about-wrap > .last-layout > .skill-wrap > .skill-desc  .skill-name{display: flex; align-items: center;}
#about-wrap > .last-layout > .skill-wrap > .skill-desc  .skill-name > div:nth-child(1){flex: 30% 0 0;}
#about-wrap > .last-layout > .skill-wrap > .skill-desc  .skill-name > div:nth-child(2){width: 0;}
#about-wrap > .last-layout > .skill-wrap > .skill-desc  .active-bar{ height: 10px; border-radius: 4px; }
#about-wrap > .last-layout > .skill-wrap > .skill-desc 	.skill-name:nth-child(1) .active-bar{background-color: #e54d26;}
#about-wrap > .last-layout > .skill-wrap > .skill-desc  .skill-name:nth-child(2) .active-bar{background-color: #0096dc;}
#about-wrap > .last-layout > .skill-wrap > .skill-desc  .skill-name:nth-child(3) .active-bar{background-color: #f0da50;}
#about-wrap > .last-layout > .skill-wrap > .skill-desc  .skill-name:nth-child(4) .active-bar{background-color: #0768ad;} 
#about-wrap > .last-layout > .skill-wrap > .skill-desc  .skill-name:nth-child(5) .active-bar{background-color: #539e43;}
#about-wrap > .last-layout > .skill-wrap > .skill-desc  .skill-name:nth-child(6) .active-bar{background-color: #36c6fa;}



/* active-wrap */
#active-wrap{z-index:10000; padding-top: 5rem;}
#active-wrap > .active-text{font-size: 12.5rem; font-family: 'Open Sans', sans-serif; font-weight: 700; color:rgba(149, 149, 149,.2); line-height:12.5rem}
#active-wrap .left-slide {position: relative; display: flex; left: 0;}
#active-wrap .left-slide > li {flex-shrink: 0;}

#active-wrap > .right-active{	position: relative; right:75rem;}
#active-wrap .right-slide {position: relative; display: flex; top:0;}
#active-wrap .right-slide > li {flex-shrink: 0;}

/* portflio-wrap */
#portflio-wrap{width:100%;margin:5rem 0; display: flex;}
#portflio-wrap > .pf-desc-layout > .pf-desc-wrap > .pf-desc > .desc-title {text-decoration:none;}
#portflio-wrap > .pf-picture-layout{flex:68.25% 0 0; display:flex;}
#portflio-wrap > .pf-picture-layout > .pf-list{display:flex; justify-content: center; align-items: center; width:100%}
#portflio-wrap > .pf-picture-layout  .img-size{width:50%; display: none; position: absolute;}


#portflio-wrap > .pf-desc-layout{flex: 28% 0 0; z-index: 10000;}
#portflio-wrap > .pf-desc-layout >.pf-desc-wrap{ flex:70% 0 0;}
#portflio-wrap > .pf-desc-layout >.pf-desc-wrap > .pf-desc{margin-bottom: 1rem; display: flex; flex-direction: column; }
#portflio-wrap > .pf-desc-layout >.pf-desc-wrap > .pf-desc >.desc-title{font-size:3.25rem; color: #f8f8f8; cursor: pointer;font-weight:bold; display: flex; justify-content:center;}
#portflio-wrap > .pf-desc-layout >.pf-desc-wrap > .pf-desc >.desc-title.front-end{color:#f0da50}
#portflio-wrap > .pf-desc-layout >.pf-desc-wrap > .pf-desc >.desc-title.back-end{color:#539e43}
#portflio-wrap > .pf-desc-layout >.pf-desc-wrap > .pf-desc >.desc-title.public{color:#e54d26}
#portflio-wrap > .pf-desc-layout >.pf-desc-wrap > .pf-desc >.desc-title:hover ~.desc-text{display: flex; justify-content:center}
#portflio-wrap > .pf-desc-layout >.pf-desc-wrap > .pf-desc >.desc-text{font-size: 1.125rem; display:none; color: #f8f8f8; text-align: center; margin: 0.25rem;}


/* contect-wrap */
#contect-wrap{width:100%; height: 100vh; margin-top: 5rem; position: relative; }
#contect-wrap > h1{ font-family: 'Nanum Myeongjo', serif;  font-size:3.75rem; position: absolute; top:12.5rem; left:17.5rem; color: #f8f8f8; font-size: bold;}
#contect-wrap > .container{position: absolute; left: 12.25rem; top:19.75rem;}
#contect-wrap > .line{width:19.75rem; height:6px; background-color: #aeff53; top:15.875rem; left:37.5rem;position: absolute;}


/* modal */

.bt-top{width: 50px;
	height: 50px;
	border: 2px solid #aeff53;
	border-radius: 4px;
	position: fixed;
	right: 20px;
	bottom: 20px;
	color: #aeff53;
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10000;
	cursor: pointer;}
	
.bt-top > span {
	animation-duration: 0.4s;
	animation-direction: alternate; 
	animation-iteration-count: infinite;
}
.bt-top:hover > span {animation-name: bt-up-hover;}
@keyframes bt-up-hover {
	0% {transform: translateY(0);}
	100% {transform: translateY(-5px);}
}

.menu-btn {
  --box-shadow-color: rgba(255, 101, 47, 0.2);
  width: 50px;
  height: 50px;
	position: fixed;
	top: 20px;
	right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
	z-index: 9999;
  cursor: pointer;
	transition: all 0.5s ease-in-out;
	
}

.menu-btn__burger,
.menu-btn__burger::before,
.menu-btn__burger::after {
  width: 50px;
  height: 6px;
  border-radius: 5px;
  background-color: #aeff53;
  box-shadow: 0 2px 5px var(--box-shadow-color);
	transition: all 0.5s ease-in-out;
	display: none;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
	position: absolute;
	display: none;
}
.menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn__burger::after {
  transform: translateY(16px);
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background-color: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}




	/* animation */

	#main-wrap > .header > .navi-wrap > .navi:hover > .active-box{transition: all 0.5s; height: 1rem; opacity: 0;}
	
	@keyframes moving-line {
		0% {opacity:0; width:0;}
		100% {opacity:1; width:14rem;}
	}


	.hvr-bounce-in {
		display: inline-block;
		vertical-align: middle;
		transform: translateZ(0);
		box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		backface-visibility: hidden;
		transition-duration: 0.5s;
	}
	.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
		transform: scale(1.2);
		transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
	}
	
	

	/* 반응형 사이즈*/


	/* 반응형 사이즈*/

	@media screen and (max-width: 1199px) {
		#main-wrap > .header > .navi-wrap{margin-left: 0%;}
		#main-wrap > .typing > ul{font-size: 6rem;}
		#main-wrap > .typing {height: 77vh;}
		.actbar-wrap > div{position: absolute; height: 10px; top:7rem; left: 20rem;}
		#about-wrap{width: 87%; padding: 5rem 0rem;}
		#about-wrap > .first-layout > .img-size{width:150px; height:150px; }
		#about-wrap > .first-layout{flex: 24% 0 0;  }
		#about-wrap > .second-layout{flex: 41% 0 0; }
		#about-wrap > .last-layout{flex:35% 0 0; }
		#about-wrap > .first-layout > .img-size{width:10rem;}
		#about-wrap > .last-layout > .edu-wrap{margin-left: 0.25rem; font-size: 1rem; padding-top:0;}
		#about-wrap > .last-layout >.lc-wrap{margin-left: 0.25rem; font-size: 1rem;  padding-top: 1rem;}
		#about-wrap > .last-layout >.skill-wrap{margin-left: 0.25rem; font-size: 1rem; padding-top: 2rem;}
		#about-wrap > .second-layout > .contact{font-size:1.25rem; margin-left: 1rem; padding-top:5rem;}
		#about-wrap > .second-layout > .desc{font-size:1.25rem; margin-left: 2rem; padding-top: 0;} 
		#portflio-wrap > .pf-desc-layout >.pf-desc-wrap > .pf-desc >.desc-title{font-size:2.75rem;}
		#portflio-wrap > .pf-desc-layout >.pf-desc-wrap > .pf-desc >.desc-text{font-size: 1rem; display:none; color: #f8f8f8; text-align: center; }
		#portflio-wrap > .pf-desc-layout{flex: 30% 0 0; font-size:1rem;}
		#portflio-wrap{margin-bottom: 0}
		#contect-wrap{margin-top: 0;}
		
	}
	
	@media screen and (max-width: 991px) {
		#main-wrap > .header > .navi-wrap{margin-left:0 !important;  transition: all 0.8s}
			#main-wrap > .typing > ul{font-size: 4rem;}
			#main-wrap > .typing {height: 60vh;}
			#about-wrap{width: 83%; display: block; padding: 0;}
			#about-wrap > .first-layout{padding:0; text-align: center; padding: 2rem; }
			#about-wrap > .second-layout{text-align: center; position: relative;} 
			#about-wrap > .last-layout{text-align: center; }
			.actbar-wrap > div{position: absolute; height: 10px; top:5rem; left: 10rem;}
			#about-wrap > .first-layout > .img-size{width: 150px; padding-bottom: 2rem;}
			#about-wrap > .last-layout > .edu-wrap{margin-left: 0.25rem; font-size: 1rem; padding-top:2rem;}
			#about-wrap > .last-layout >.lc-wrap{margin-left: 0.25rem; font-size: 1rem;  padding-top: 2rem;}
			#about-wrap > .last-layout >.skill-wrap{margin-left: 0.25rem; font-size: 1rem; padding-top: 2rem;}
			#about-wrap > .second-layout > .contact{font-size:1.25rem; margin-left: 1rem; padding-top:2rem;}
			#about-wrap > .second-layout > .desc{font-size:1.25rem; margin-left: 2rem; padding-top: 2rem;} 
			#about-wrap > .second-layout > .contact  a{text-decoration: none; color:#f8f8f8;  z-index: 30000;}
#about-wrap > .second-layout > .contact i{padding: 0 1rem;}
			#portflio-wrap > .pf-desc-layout >.pf-desc-wrap > .pf-desc >.desc-title{font-size:2.25rem;}
			#portflio-wrap > .pf-desc-layout >.pf-desc-wrap > .pf-desc >.desc-text{font-size: 0.875rem;}
			#active-wrap{margin-top: 30rem;}
	}
	
	@media screen and (max-width: 767px) {
		
		#main-wrap > .typing > ul{font-size: 5rem;}
		#main-wrap > .header > .navi-wrap{transition: all 1.2s}
		#portflio-wrap{display: block;}
		#portflio-wrap > .pf-desc-layout >.pf-desc-wrap > .pf-desc >.desc-title{font-size:3.5rem;}
		#main-wrap > .bg-img{opacity: 0.3; position: absolute; width:100%; right:0rem; top:0rem;}
		#main-wrap > .typing > ul > li:nth-child(1){position:absolute; top: 12vw; right: 6.25rem; color:#ec1a5b;}
		#main-wrap > .typing > ul > li:nth-child(2){position:absolute; top: 22vw; right: 6.25rem; color:#ec1a5b; letter-spacing: 0.25rem;}
		#main-wrap > .typing > ul > li:nth-child(3){position:absolute; top: 32.5vw; right: 6.25rem; color:#f8f8f8; }
		#main-wrap > .typing > ul > li:nth-child(4){position:absolute; top: 44vw; right: 6.25rem; color:#c1bab2; letter-spacing: 0.25rem;}
		.actbar-wrap > div{position: absolute; height: 10px; top:6rem; left: 8rem;}
		#about-wrap > .first-layout{padding:0; text-align: center; padding: 2rem; padding-top: 5rem;}
		#active-wrap{margin-top: 34rem; padding-top: 0;}
		#portflio-wrap{margin-top: 9rem;}
		#contect-wrap > h1{ font-family: 'Nanum Myeongjo', serif;  font-size:3rem; position: absolute; top:12.5rem; left:14.5rem; color: #f8f8f8; font-size: bold;}
		#contect-wrap > .container{position: absolute; left: 12.25rem; top:19.75rem;}
		.line-wrap > .line:nth-child(1){left: 22vw;}
		#contect-wrap > .line{width:10rem; height:6px; background-color: #aeff53; top:15rem; left:30rem;}
		#portflio-wrap > .pf-picture-layout .img-size{opacity: 0.5;}

	}

	@media screen and (max-width: 575px) {
		
		#main-wrap > .typing > ul{font-size: 3.5rem;}
		#main-wrap > .header > .navi-wrap {visibility: hidden;}
		.menu-btn__burger,.menu-btn__burger::before,.menu-btn__burger::after {display: block;}.menu-btn__burger::before,
		.menu-btn__burger::after {display: block;}
		.actbar-wrap > div{display: none;}
		#main-wrap > .typing {height: 40vh;}
		#main-wrap > .typing > ul > li:nth-child(1){position:absolute; top: 15vw; right: 3rem;}
		#main-wrap > .typing > ul > li:nth-child(2){position:absolute; top: 25vw; right: 3rem;}
		#main-wrap > .typing > ul > li:nth-child(3){position:absolute; top: 35vw; right: 3rem;}
		#main-wrap > .typing > ul > li:nth-child(4){position:absolute; top: 45vw; right: 3rem;}
		#about-wrap{width:100%;}
		#portflio-wrap > .pf-picture-layout .img-size{visibility: hidden;}
		.line-wrap > .line:nth-child(1){left: 22vw;}
		#contect-wrap > h1{ font-family: 'Nanum Myeongjo', serif;  font-size:3.5rem; position: absolute; top:12.5rem; left:6rem; color: #f8f8f8; font-size: bold;}
		#contect-wrap > .container{position: absolute; left: 0.25rem; top:19.75rem;}
		.line-wrap > .line:nth-child(1){left: 22vw;}
		#portflio-wrap > .pf-picture-layout .img-size{opacity: 0.5;}
		#active-wrap{margin-top: 40rem;}
		#contect-wrap > .line{display: none;}
	}
	
	

/* vw 바꾸기 
gallery로 이름넣기.
100vh 해제하기 about쪽 */