/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap');
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css); 
/* font-family: 'Noto Sans KR', sans-serif;
font-family: 'Open Sans', sans-serif;
.nanummyeongjo * { font-family: 'Nanum Myeongjo', serif; } */
html,body{font-family: 'Open Sans', sans-serif;}


/* common */
#wrapper{background-color :rgb(39, 37, 38); }

/* line-wrap */
.line-wrap{position: absolute; top: 0;}
.line-wrap > .line:nth-child(1){left: 34vw; position: absolute; border-left: 1px solid rgba(222, 216, 210,.4); height: 100vh; display: none;}
.line-wrap > .line:nth-child(2){left: 68.5vw; position: absolute;  border-left: 1px solid rgba(222, 216, 210,.4); height: 100vh; display: none;}
.line-wrap > .line:nth-child(3){left: 95vw; position: absolute;  border-left: 1px solid rgba(222, 216, 210,.4); height: 100vh; display: none;} 


/* header */
#main-wrap{display: flex; }
#main-wrap > .header {position: fixed; height: 100vh; width: 14.75rem; z-index:11; }
#main-wrap > .header > .navi-wrap{display: flex; width: 60%; margin-left: 40%; transition: all 0.8s; z-index: 9999;}
#main-wrap > .header > .navi-wrap > .navi{font-weight: 700; font-size: 1.5rem;  text-align: center; display: flex; flex-direction: column; justify-content: flex-end; 
	height: 100vh; z-index: 100; background-color: rgba(5, 5, 5,.3); cursor:pointer}
#main-wrap > .header > .navi-wrap > .navi:nth-child(1){border-right: 1px solid rgba(222, 216, 210,.4); border-left: 1px solid rgba(222, 216, 210,.4);}
#main-wrap > .header > .navi-wrap > .navi:nth-child(2){border-right: 1px solid rgba(222, 216, 210,.4);}
#main-wrap > .header > .navi-wrap > .navi:nth-child(3){border-right: 1px solid rgba(222, 216, 210,.4);}	

#main-wrap > .header > .navi-wrap > .navi > a{color: #f8f8f8; text-decoration: none; writing-mode: vertical-rl; transform: rotate(180deg); display: inline-block; cursor: pointer; margin: 0 auto;}
#main-wrap > .header > .navi-wrap > .navi > .active-box{width: 3.125rem; height: 3.125rem; background-color: #f8f8f8; z-index: 99; margin-bottom: 5.125rem; margin-top: 1rem;}
#main-wrap > .header > .navi-wrap > .navi > .move-box{width: 3.125rem; height: 3.125rem; background-color: #f8f8f8; position: absolute; top: 0; transition: all 0.5s; z-index: -99;}

/* typing-text */
#main-wrap > .typing-txt{display: none;}
#main-wrap > .typing{position:relative; height: 100vh; width: 100%; }
#main-wrap > .typing > ul{font-weight:700; font-size:8.75rem; position: relative;}
#main-wrap > .typing > ul > li{display: block;}
#main-wrap > .typing > ul > li:nth-child(1){position:absolute; top: 12vw; right: 6.25rem; color:#ec1a5b;}
#main-wrap > .typing > ul > li:nth-child(2){position:absolute; top: 19vw; right: 6.25rem; color:#ec1a5b; letter-spacing: 0.25rem;}
#main-wrap > .typing > ul > li:nth-child(3){position:absolute; top: 26vw; right: 6.25rem; color:#f8f8f8; }
#main-wrap > .typing > ul > li:nth-child(4){position:absolute; top: 33vw; right: 6.25rem; color:#c1bab2; letter-spacing: 0.25rem;}
#main-wrap > .bg-img{opacity: 0.3; position: absolute; width:60%; right:4.75rem; top:6rem;}

.actbar-wrap{position: relative;}
.actbar-wrap > div{position: absolute; height:10px;}
.actbar-wrap > .actbar1 {background-color: #f87f5a; top:10.625rem; left: 33.5vw; animation-name: moving-line; animation-duration: 1s;
animation-delay: 7s; animation-fill-mode:forwards;}
.actbar-wrap > .actbar2 {background-color: #aeff53; top:10.625rem; left: 17vw; animation-name: moving-line; animation-duration: 1s;
	animation-delay: 7.6s; animation-fill-mode:forwards;}
.actbar-wrap > .actbar3 {background-color: #5af8f0; top:10.625rem; left: 34.5vw; animation-name: moving-line; animation-duration: 1s;
	animation-delay: 7.3s; animation-fill-mode:forwards;} 


	/* about-wrap */
#about-wrap{margin-bottom:5rem; width:92%; height:100vh; display:flex; font-family: 'Noto Sans KR', sans-serif; margin-left: auto; z-index: 999;}
#about-wrap  .title{font-family: 'Nanum Myeongjo', serif; font-size: 2.125rem; color:#aeff53; font-weight: 700;}
#about-wrap > .first-layout	{flex: 28.675% 0 0; display: flex; justify-content: center; padding-top: 6.25rem;}
#about-wrap > .first-layout > .img-size{width:18.75rem; height:18.75rem; }


#about-wrap > .second-layout {flex: 38.5% 0 0; z-index:999; }
#about-wrap > .second-layout > .desc{color: #a49e97; font-size: 1.5rem; padding-top: 138px; margin-left: 54px;}
#about-wrap > .second-layout > .desc > li > span{font-size: 2.125rem; color:#5af8f0; font-family: 'Nanum Myeongjo', serif;} 
#about-wrap > .second-layout > .contact{font-size: 1.5rem; color: #f8f8f8; padding-top:104px; line-height: 2.625rem; margin-left: 54px;}
#about-wrap > .second-layout > .contact  a{text-decoration: none; color:#f8f8f8;}
#about-wrap > .second-layout > .contact i{padding: 0 1rem;}


#about-wrap > .last-layout {flex: 32.825% 0 0; z-index: 999;}
#about-wrap > .last-layout > .edu-wrap{color: #f8f8f8; font-size: 1.5rem; font-weight: 300;  padding-top: 138px; margin-left: 54px;}
#about-wrap > .last-layout > .edu-wrap > li:not(:first-child){padding: 0 1rem; line-height: 3rem;}
#about-wrap > .last-layout > .lc-wrap{color: #f8f8f8; font-size: 1.5rem; margin-left: 54px; padding-top: 48px;}
#about-wrap > .last-layout > .lc-wrap > li:not(:first-child){padding: 0 1rem; line-height: 4rem; }
#about-wrap > .last-layout > .skill-wrap{color: #f8f8f8; font-size: 1.5rem; margin-left: 3.375rem; padding-top: 4rem; position: relative; }
#about-wrap > .last-layout > .skill-wrap > .skill-desc > .skill-name{padding: 0 1rem; line-height: 3rem;  flex:10% 0 0;}


#about-wrap > .last-layout > .skill-wrap > .skill-desc  .skill-name{display: flex; align-items: center;}
#about-wrap > .last-layout > .skill-wrap > .skill-desc  .skill-name > div:nth-child(1){flex: 30% 0 0;}
#about-wrap > .last-layout > .skill-wrap > .skill-desc  .skill-name > div:nth-child(2){width: 0;}
#about-wrap > .last-layout > .skill-wrap > .skill-desc  .active-bar{ height: 10px; border-radius: 4px; }
#about-wrap > .last-layout > .skill-wrap > .skill-desc 	.skill-name:nth-child(1) .active-bar{background-color: #e54d26;}
#about-wrap > .last-layout > .skill-wrap > .skill-desc  .skill-name:nth-child(2) .active-bar{background-color: #0096dc;}
#about-wrap > .last-layout > .skill-wrap > .skill-desc  .skill-name:nth-child(3) .active-bar{background-color: #f0da50;}
#about-wrap > .last-layout > .skill-wrap > .skill-desc  .skill-name:nth-child(4) .active-bar{background-color: #0768ad;} 
#about-wrap > .last-layout > .skill-wrap > .skill-desc  .skill-name:nth-child(5) .active-bar{background-color: #539e43;}
#about-wrap > .last-layout > .skill-wrap > .skill-desc  .skill-name:nth-child(6) .active-bar{background-color: #36c6fa;}



/* active-wrap */
#active-wrap{z-index:10000}
#active-wrap > .active-text{font-size: 12.5rem; font-family: 'Open Sans', sans-serif; font-weight: 700; color:rgba(149, 149, 149,.2); line-height:12.5rem}
#active-wrap .left-slide {position: relative; display: flex; left: 0;}
#active-wrap .left-slide > li {flex-shrink: 0;}

#active-wrap > .right-active{	position: relative; right:75rem;}
#active-wrap .right-slide {position: relative; display: flex; top:0;}
#active-wrap .right-slide > li {flex-shrink: 0;}

/* portflio-wrap */
#portflio-wrap{width:100%; margin-top:5rem; margin-bottom: 5rem; display: flex;}
#portflio-wrap > .pf-desc-layout > .pf-desc-wrap > .pf-desc > .desc-title {text-decoration:none;}
#portflio-wrap > .pf-picture-layout{flex:69.5% 0 0; display:flex;}
#portflio-wrap > .pf-picture-layout > .pf-list{display:flex; justify-content: center; align-items: center; width:100%}
#portflio-wrap > .pf-picture-layout  .img-size{width:50%; display: none; position: absolute;}


#portflio-wrap > .pf-desc-layout{z-index: 10000; flex:28% 0 0;}
#portflio-wrap > .pf-desc-layout >.pf-desc-wrap{}
#portflio-wrap > .pf-desc-layout >.pf-desc-wrap > .pf-desc{margin-bottom: 1rem; display: flex; flex-direction: column; }
#portflio-wrap > .pf-desc-layout >.pf-desc-wrap > .pf-desc >.desc-title{font-size:3.625rem; color: #f8f8f8; cursor: pointer;font-weight:bold; display: flex; justify-content:center;}
#portflio-wrap > .pf-desc-layout >.pf-desc-wrap > .pf-desc >.desc-title.front-end{color:#f0da50}
#portflio-wrap > .pf-desc-layout >.pf-desc-wrap > .pf-desc >.desc-title.back-end{color:#539e43}
#portflio-wrap > .pf-desc-layout >.pf-desc-wrap > .pf-desc >.desc-title.public{color:#e54d26}
#portflio-wrap > .pf-desc-layout >.pf-desc-wrap > .pf-desc >.desc-title:hover ~.desc-text{display: flex; justify-content:center}
#portflio-wrap > .pf-desc-layout >.pf-desc-wrap > .pf-desc >.desc-text{font-size: 1.125rem; display:none; color: #f8f8f8; text-align: center; margin: 0.25rem;}








/* contect-wrap */
#contect-wrap{width:100%; height: 100vh; margin-top: 5rem; position: relative; }
#contect-wrap > h1{ font-family: 'Nanum Myeongjo', serif;  font-size:3.75rem; position: absolute; top:12.5rem; left:17.5rem; color: #f8f8f8; font-size: bold;}
#contect-wrap > .container{position: absolute; left: 12.25rem; top:19.75rem;}
#contect-wrap > .line{width:19.75rem; height:6px; background-color: #aeff53; top:15.875rem; left:37.5rem;position: absolute;}


/* modal */

.bt-top{width: 50px;
	height: 50px;
	border: 2px solid #aeff53;
	border-radius: 4px;
	position: fixed;
	right: 10px;
	bottom: 10px;
	color: #aeff53;
	font-size: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10000;
	cursor: pointer;}
.bt-top > span {
	animation-duration: 0.4s;
	animation-direction: alternate; 
	animation-iteration-count: infinite;
}
.bt-top:hover > span {animation-name: bt-up-hover;}
@keyframes bt-up-hover {
	0% {transform: translateY(0);}
	100% {transform: translateY(-5px);}
}

	/* animation */

	#main-wrap > .header > .navi-wrap > .navi:hover > .active-box{transition: all 0.5s; height: 1rem; opacity: 0;}
	
	@keyframes moving-line {
		0% {opacity:0; width:0;}
		100% {opacity:1; width:250px;}
	}


	.hvr-bounce-in {
		display: inline-block;
		vertical-align: middle;
		transform: translateZ(0);
		box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		backface-visibility: hidden;
		transition-duration: 0.5s;
	}
	.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
		transform: scale(1.2);
		transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
	}
	

	/* 반응형 사이즈*/

	@media screen and (max-width: 1199px) {
		#main-wrap > .header > .navi-wrap{margin-left: 0%;}
		#main-wrap > .typing > ul{font-size: 6rem;}
		#main-wrap > .typing {height: 77vh;}
		.actbar-wrap > .actbar1 {top:13vh; left: 27vw;}
		.actbar-wrap > .actbar2 {top:13vh; left: 15vw;}
		.actbar-wrap > .actbar3 {top:13vh; left: 29vw;}
		#about-wrap > .first-layout > .img-size{width:15rem ; height:15rem;}
		#about-wrap > .last-layout > .edu-wrap{margin-left: 0.25rem; font-size: 1.125rem; padding-top: 100px;}
		#about-wrap > .last-layout >.lc-wrap{margin-left: 0.25rem; font-size: 1.125rem;}
		#about-wrap > .last-layout >.skill-wrap{margin-left: 0.25rem; font-size: 1.125rem;}
		#about-wrap > .second-layout > .contact{font-size:1.25rem; margin-left: 1rem;}
		#about-wrap > .second-layout > .desc{font-size:1.25rem; margin-left: 2rem; padding-top: 100px;} 
	
		#portflio-wrap > .pf-desc-layout >.pf-desc-wrap > .pf-desc >.desc-title{font-size:3rem;}
		#portflio-wrap > .pf-desc-layout >.pf-desc-wrap > .pf-desc >.desc-text{font-size: 1rem; display:none; color: #f8f8f8; text-align: center; }
		#portflio-wrap > .pf-desc-layout{flex: 30% 0 0; font-size:1rem;}
		#portflio-wrap{margin-bottom: 0}
		#contect-wrap{margin-top: 0;}
		
	}
	
	@media screen and (max-width: 991px) {
			#main-wrap > .typing > ul{font-size: 4rem;}
			.actbar-wrap > .move-line{display: none;}
			#main-wrap > .header > .navi-wrap{margin-left: 0 !important; transition: all 0.8s}
	}
	
	@media screen and (max-width: 767px) {
		#main-wrap > .typing > ul{font-size: 3.5rem;}
		#main-wrap > .header > .navi-wrap{margin-left: -300px !important; transition: all 0.8s}
	}
	
	@media screen and (max-width: 575px) {
		#main-wrap > .typing > ul{font-size: 3rem;}
	}
	
	

/* vw 바꾸기 
gallery로 이름넣기.
100vh 해제하기 about쪽 */