/* font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap');
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css); 
/* font-family: 'Noto Sans KR', sans-serif;
font-family: 'Open Sans', sans-serif;
.nanummyeongjo * { font-family: 'Nanum Myeongjo', serif; } */
html,body{font-family: 'Open Sans', sans-serif;}


/* common */
#wrapper{background-color :rgb(39, 37, 38); height: 5000px;}

/* line-wrap */
.line-wrap{position: absolute; top: 0;}
.line-wrap > .line:nth-child(1){left: 39rem; position: absolute; border-left: 1px solid rgba(222, 216, 210,.4); height: 100vh; display: none;}
.line-wrap > .line:nth-child(2){left: 81.25rem; position: absolute;  border-left: 1px solid rgba(222, 216, 210,.4); height: 100vh; display: none;}
.line-wrap > .line:nth-child(3){left: 114.5rem; position: absolute;  border-left: 1px solid rgba(222, 216, 210,.4); height: 100vh; display: none;} 


/* header */
#main-wrap{display: flex; }
#main-wrap > .header {position: fixed; height: 100vh; width: 14.75rem; z-index:11; }
#main-wrap > .header > .navi-wrap{display: flex; width: 60%; margin-left: 40%; transition: all 0.8s; z-index: 9999;}
#main-wrap > .header > .navi-wrap > .navi{font-weight: 700; font-size: 1.5rem;  text-align: center; display: flex; flex-direction: column; justify-content: flex-end; 
	height: 100vh; z-index: 100; background-color: rgba(5, 5, 5,.3);}
#main-wrap > .header > .navi-wrap > .navi:nth-child(1){border-right: 1px solid rgba(222, 216, 210,.4); border-left: 1px solid rgba(222, 216, 210,.4);}
#main-wrap > .header > .navi-wrap > .navi:nth-child(2){border-right: 1px solid rgba(222, 216, 210,.4);}
#main-wrap > .header > .navi-wrap > .navi:nth-child(3){border-right: 1px solid rgba(222, 216, 210,.4);}	

#main-wrap > .header > .navi-wrap > .navi > a{color: #f8f8f8; text-decoration: none; writing-mode: vertical-rl; transform: rotate(180deg); display: inline-block; cursor: pointer; margin: 0 auto;}
#main-wrap > .header > .navi-wrap > .navi > .active-box{width: 3.125rem; height: 3.125rem; background-color: #f8f8f8; z-index: 99; margin-bottom: 5.125rem; margin-top: 1rem;}
#main-wrap > .header > .navi-wrap > .navi > .move-box{width: 3.125rem; height: 3.125rem; background-color: #f8f8f8; position: absolute; top: 0; transition: all 0.5s; z-index: -99;}

/* typing-text */
#main-wrap > .typing-txt{display: none;}
#main-wrap > .typing{position:relative; height: 100vh; width: 100%; }
#main-wrap > .typing > ul{font-weight:700; font-size:8.75rem; position: relative;}
#main-wrap > .typing > ul > li{display: block;}
#main-wrap > .typing > ul > li:nth-child(1){position:absolute; top: 13.5rem; right: 6.25rem; color:#ec1a5b;}
#main-wrap > .typing > ul > li:nth-child(2){position:absolute; top: 23.625rem; right: 6.25rem; color:#ec1a5b; letter-spacing: 0.25rem;}
#main-wrap > .typing > ul > li:nth-child(3){position:absolute; top: 31.5rem; right: 6.25rem; color:#f8f8f8; }
#main-wrap > .typing > ul > li:nth-child(4){position:absolute; top: 39.75rem; right: 6.25rem; color:#c1bab2; letter-spacing: 0.25rem;}
#main-wrap > .bg-img{opacity: 0.3; position: absolute; width:60%; right:4.75rem; top:6rem;}


.actbar-wrap {position: absolute; width:100%; height: 100%;}
.actbar-wrap > div{position: absolute; height:10px;}
.actbar-wrap > .actbar1 {background-color: #f87f5a; top:170px; left: 646px; animation-name: moving-line; animation-duration: 1s;
animation-delay: 7s; animation-fill-mode:forwards;}
.actbar-wrap > .actbar2 {background-color: #aeff53; top:170px; left: 300px; animation-name: moving-line; animation-duration: 1s;
	animation-delay: 7.6s; animation-fill-mode:forwards;}
.actbar-wrap > .actbar3 {background-color: #5af8f0; top:170px; left: 660px; animation-name: moving-line; animation-duration: 1s;
	animation-delay: 7.3s; animation-fill-mode:forwards;} 


	/* about-wrap */
#about-wrap{margin:5rem 0; width:92%; height:100vh; display:flex; font-family: 'Noto Sans KR', sans-serif; margin-left: auto; z-index: 999}
#about-wrap  .title{font-family: 'Nanum Myeongjo', serif; font-size: 2.125rem; color:#aeff53; font-weight: 700;}

#about-wrap > .first-layout	{flex: 27% 0 0; display: flex; justify-content: center; padding-top: 100px;}
#about-wrap > .first-layout > .img-size{width:300px; height:300px; }


#about-wrap > .second-layout {flex: 38.6% 0 0; z-index:999;}
#about-wrap > .second-layout > .desc{color: #a49e97; font-size: 1.5rem; padding-top: 138px; margin-left: 54px;}

#about-wrap > .second-layout > .desc > li > span{font-size: 2.125rem; color:#5af8f0; font-family: 'Nanum Myeongjo', serif;} 
#about-wrap > .second-layout > .contact{font-size: 1.5rem; color: #f8f8f8; padding-top:104px; line-height: 2.625rem; margin-left: 54px;}
#about-wrap > .second-layout > .contact i{padding: 0 1rem;}


#about-wrap > .last-layout {flex: 34.4% 0 0; z-index: 999;}
#about-wrap > .last-layout > .edu-wrap{color: #f8f8f8; font-size: 1.5rem; font-weight: 300;  padding-top: 138px; margin-left: 54px;;}
#about-wrap > .last-layout > .edu-wrap > li:not(:first-child){padding: 0 1rem; line-height: 3rem;}
#about-wrap > .last-layout > .lc-wrap{color: #f8f8f8; font-size: 1.5rem; margin-left: 54px; padding-top: 48px;}
#about-wrap > .last-layout > .lc-wrap > li:not(:first-child){padding: 0 1rem; line-height: 4rem; }

#about-wrap > .last-layout > .skill-wrap{color: #f8f8f8; font-size: 1.5rem; margin-left: 54px; padding-top: 64px; position: relative; }
#about-wrap > .last-layout > .skill-wrap > .skill-desc{display:flex;}
#about-wrap > .last-layout > .skill-wrap > .skill-desc > .skill-name{padding: 0 1rem; line-height: 3rem;  flex:10% 0 0;}

#about-wrap > .last-layout > .skill-wrap > .skill-desc> .skill-bars{flex:90% 0 0; position:relative;}
#about-wrap > .last-layout > .skill-wrap > .skill-desc> .skill-bars > .active-bar{position: absolute; height: 10px; border-radius: 4px;}
#about-wrap > .last-layout > .skill-wrap > .skill-desc> .skill-bars > .active-bar:nth-child(1){width:16rem; top:18px; background-color: #e54d26;}
#about-wrap > .last-layout > .skill-wrap > .skill-desc> .skill-bars > .active-bar:nth-child(2){width:14rem; top:68px; background-color: #0096dc;}
#about-wrap > .last-layout > .skill-wrap > .skill-desc> .skill-bars > .active-bar:nth-child(3){width:14rem;	top:116px; background-color: #f0da50;}
#about-wrap > .last-layout > .skill-wrap > .skill-desc> .skill-bars > .active-bar:nth-child(4){width:15rem; top: 168px; background-color: #0768ad;} 
#about-wrap > .last-layout > .skill-wrap > .skill-desc> .skill-bars > .active-bar:nth-child(5){width:9rem; top: 214px; background-color: #539e43;}
#about-wrap > .last-layout > .skill-wrap > .skill-desc> .skill-bars > .active-bar:nth-child(6){width:10rem; top:260px; background-color: #36c6fa;}



/* active-wrap */
#active-wrap{z-index:10000}
#active-wrap > .active-text{font-size: 12.5rem; font-family: 'Open Sans', sans-serif; font-weight: 700; color:rgba(149, 149, 149,.2); line-height:12.5rem}
#active-wrap .left-slide {position: relative; display: flex; left: 0;}
#active-wrap .left-slide > li {flex-shrink: 0;}

#active-wrap .right-slide {position: relative; display: flex; left: 0;}
#active-wrap .right-slide > li {flex-shrink: 0;}

/* portflio-wrap */
#portflio-wrap{}



/* contect-wrap */
#contect-wrap{}





	
	/* animation */
	#main-wrap > .header > .navi-wrap > .navi:hover > .active-box{transition: all 0.5s; height: 1rem; opacity: 0;}
	@keyframes moving-line {
		0% {opacity:0; width:0;}
		100% {opacity:1; width:250px;}
	}
	


/* 반응형 */